@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --theme1: #57c8ca;
    --theme2: #22496b;
    --black: #000e1a;
    --common-bg:#f7f7f7;
    --red:#A71818;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: var(--black);
    text-transform: none;
}
.container {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}
.sub-heading {
    font-size: 20px;
}
.dash-wrapper {
    display: flex;
    width: 100%;
    padding-inline: 250px 24px;
    min-height: 100vh;
    position: relative;
}

.dash-wrapper.toggle {
    padding-inline: 96px 24px;
}

.page-sidebar {
    width: 250px;
    padding-inline: 12px;
    padding: 0 12px;
    min-height: 100vh;
    border-right: 1px solid #F5F5F5;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    transition: all 0.2s linear;
    background: #fff;
}
.dash-wrapper.toggle .page-sidebar {
    width: 96px;
}
.site-logo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
    padding: 10px;
    margin-bottom: 10px;
    gap: 15px;
    height: 70px;
}
.dash-wrapper.toggle .logo-holder {
    display: none;
}
span.menu-toggle {
    cursor: pointer;
    font-size: 20px;
}
.dash-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
}
.dash-menu li {
    margin-bottom: 20px;
}
a.dash-nav {
    display: inline-flex;
    align-items: center;
    color: #00000070;
    text-transform: capitalize;
    width: 100%;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    transition: all 0.2s linear;
}
a.dash-nav:hover {
    background: var(--theme1);
    color: #fff;
}
.dash-wrapper.toggle a.dash-nav {
    padding: 5px 25px;
}

a.dash-nav.active {
    background: var(--theme1);
    color: #fff;
}
.svg-ico {
    font-size: 20px;
}
.tooltion-title {
    margin-left: 10px;
}
.dash-wrapper.toggle .tooltion-title {
    display: none;
}

.copyright {
    background: #eeeeee78;
    padding: 15px;
    border-radius: 8px;
}
.copyright p {
    font-size: 14px;
    color: #00000070;
    margin: 0;
}
.dash-wrapper.toggle .copyright {
    display: none;
}

/* main-content-area start  */
.main-content-area {
    width: 100%;
    min-height: 100vh;
    padding-left: 20px;
}


.hero-banner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 660px;
    margin: 0 auto;
}
.hero-banner h1 {
    font-size: 40px;
    margin: 0 0 10px;
}
.hero-banner p {
    font-size: 18px;
}
.search-bar {
    width: 100%;
    margin: 40px 0 0;
}
.search-bar {
    width: 100%;
    margin: 40px 0 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 20px;
}  
label {
    display: block;
    font-size: 14px;
    padding: 0 15px;
    margin: 0 0 5px;
}
label sup {
    color: red;
    font-size: 16px;
    position: relative;
    top: 5px;
}
.input-control {
    width: 100%;
    display: block;
    padding: 12px 15px;
    border: 1px solid #eee;
    font-size: 14px;
    font-family: 'Poppins';
    border-radius:30px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    width: 20px;
    aspect-ratio: 1;
    border: 1px solid #eee;
    border-radius: 4px;
    position: relative;
}
.input-control:focus-visible {
    outline-color: var(--theme1);
}
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--theme1);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
input[type="checkbox"]:checked::before {
    opacity: 1;
}
select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/arrow-down.svg);
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 20px;
}
textarea.input-control {
    height: 120px;
    resize: none;
}
.search-bar .input-control {
    border: 1px solid #eee;
    border-radius: 30px;
    color: #000;
}
.primary-btn {
    display: inline-block;
    font-size: 14px;
    font-family: 'Poppins';
    background: transparent;
    padding: 8px 16px;
    border-radius: 30px;
    border: 2px solid var(--theme1);
    color:var(--theme1);
    position: relative;
    overflow: hidden;
    isolation: isolate;
}
.primary-btn:hover {
    color: #fff;
}
.primary-btn::before {
    content: "";
    background: var(--theme1);
    height: 30px;
    width: 30px;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
.primary-btn:hover::before {
    transform: translate(-50%, -50%) scale(30);
}
a.logo {
    margin-bottom: 30px;
}
.contact-form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 660px;
    margin: 0 auto;
    padding: 40px 0;
}
.contact-form form {
    width: 100%;
}
.form-group {
    width: 100%;
    margin-bottom: 20px;
}
.form-group.forget-pwd {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.checkbox {
    display: flex;
    align-items: center;
}
.checkbox label{
    margin: 0;
}
.sign-btn {
    width: 100%;
    border: 1px solid #eee;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.2s ease-in-out;
}
.sign-btn i {
    font-size: 20px;
    color: var(--theme1);
    transition: all 0.2s ease-in-out;
}
.sign-btn:hover {
    background: var(--theme1);
    color: #fff;
}
.sign-btn:hover i{
    color: #fff;
}
.contact-form p {
    text-align: center;
    font-size: 14px;
}

.contact-form p a {
    color: var(--theme1);
    margin-left: 10px;
}

.forget-paassword-btn {
    background: transparent;
    border: 0;
    font-size: 14px;
}
.submit-btn {
    text-align: center;
}
.forget-paassword-modal  button.btn-close {
    margin-left: auto;
    display: block;
}
.forget-paassword-modal h4 {
    font-size: 18px;
    padding: 0 15px;
    margin: 0 0 30px;
}

.forget-paassword-modal .primary-btn {
    margin-inline: auto;
    display: block;
    text-align: center;
    width: fit-content;
}
.top-bar {
    border: 1px solid #F5F5F5;
    padding: 10px;
    margin: 20px 0 0;
    border-radius: 8px;
}
.top-bar-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 800px;
    grid-gap: 20px;
}

/* industry page start  */
.tab-content-main {
    padding: 20px;
}
.tab-content-main .nav-tabs {
    border: 0;
    margin-top: 20px;
}
.tab-content-main .nav-tabs li.nav-item {
    margin: 0 0 10px;
}
.tab-content-main .nav-link {
    color: var(--theme1);
    font-size: 14px;
    border-radius: 40px;
    width: 100%;
    border: 1px solid var(--theme1);
}
.tab-content-main .nav-link.active {
    background: var(--theme1);
    border-color: var(--theme1);
    color: #fff;
}
.tab-content {
    padding: 20px;
    border: 1px solid #F5F5F5;
    border-radius: 15px;
    height: 100%;
}
.tab-content-main .nav-link:hover {
    border-color: var(--theme1);
}